{% load static %}
<link rel="stylesheet" href="{% static 'css/navbar.css' %}">
<div id="nav">
    <ul id="nav-left">
        <li id="site" class="nav-item">
            {% comment %} <a href="{% url "app:dashboard" %}">LTS</a> {% endcomment %}
            <a href="#">LTS</a>
        </li>
        <li class="nav-item other">
            <a href="{% url "app:translate" %}">Translate</a>
        </li>
        {% comment %} <li class="nav-item other">
            <a href="{% url "app:team" %}"><img src='{% static "images/microsoft-teams.svg" %}' alt=""></a>
        </li> {% endcomment %}
        {% comment %} <li class="nav-item other">
            <a href="{% url "app:aboutus" %}">About</a>
        </li> {% endcomment %}
    </ul>
    <ul id="nav-right">
        {% if user.is_authenticated %}
            <li class="nav-item other">
                <a href="{% url "app:signout" %}">Sign Out</a></li>
        {% else %}
            <li class="nav-item other">
                <a href="{% url "app:signin" %}">Sign In</a> | <a href="{% url "app:register" %}">Register</a>
            </li>
        {% endif %}
    </ul>
</div>