{% load static %}
<link rel="stylesheet" href="{% static 'css/navbar.css' %}">
<div id="nav">
    <ul id="nav-left">
        <li id="site" class="nav-item">
            <a href="/">LTS</a>
        </li>
        <li class="nav-item other">
            <a href="{% url "app:team" %}"><img src='{% static "images/microsoft-teams.svg" %}' alt=""></a>
        </li>
        <li class="nav-item other">
            <a href="{% url "app:aboutus" %}">About</a>
        </li>
    </ul>
    <ul id="nav-right">
        {% if user.is_authenticated %}
            <li class="nav-item other">
                <a href="#">Sign Out</a></li>
        {% else %}
            <li class="nav-item other">
                <a href="#">Sign In</a> | <a href="">Register</a>
            </li>
        {% endif %}
    </ul>
</div>