{% load static %}
<link rel="stylesheet" href="{% static 'css/translation_form.css' %}">
<div id="translation-container">
    <div id="translation-heading">
        <p>English to Hindi</p>
    </div>
    <div id="translation-box">
        <div id="translation-input-box">
            <!-- <p id="translation-input"></p> -->
            <button type="button" id="translation-english-copy-button">
                <img src="{% static 'images/copy.png' %}" alt="" srcset="">
            </button>
            <textarea placeholder="Enter something to translate..." name="translation-input" id="translation-input" cols="30" rows="10"></textarea>
        </div>
        <div id="translation-direction-box">
            <!-- <p id="translation-input"></p> -->
            <img src='{% static "images/arrow-right.svg" %}' alt="">
        </div>
        <div id="translation-output-box">
            <!-- <p id="translation-output"></p> -->
            <button type="button" id="translation-hindi-copy-button">
                <img src="{% static 'images/copy.png' %}" alt="" srcset="">
            </button>
            <textarea placeholder="You will translated output here..." readonly name="translation-output" id="translation-output" cols="30" rows="10"></textarea>
        </div>
    </div>
    <div id="translation-button-box">
        <input id="translate-button" type="button" value="Translate">
    </div>
</div>

<script src="{% static 'js/translation-form.js' %}"></script>