#nav {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: rgb(231, 231, 231);
    color: rgb(71, 71, 71);
    box-shadow: 0px 3px 3px 1px rgb(104, 104, 104);
}
#nav > #nav-left,
#nav > #nav-right {
    margin: 0;
    display: flex;
    list-style: none;
    color: inherit;
    background-color: inherit;
}
#nav-left > li,
#nav-right > li {
    padding: 10px;
    background-color: inherit;
    color: inherit;
}
#nav-left > li > a,
#nav-right > li > a {
    text-decoration: none;
    border: 1px solid rgb(231, 231, 231);
    display: inline-block;
    padding: 8px 20px;
    background-color: inherit;
    color: inherit;
    transition: .5s;
    text-align: center;
}
#nav-left > li > a:hover,
#nav-right > li > a:hover {
    border-color: rgb(141, 141, 141);
    background-color: rgb(199, 199, 199);
} 

#site {
    font-size: large;
    font-weight: bold;
}